# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE related files
.vscode/

# Git related files
.github/
.git/

# OSX related files
.DS_Store

# Docker related files
docker/
.dockerignore
docker-compose.yml

# Integration test related files
integration-tests/

# Database directory
alphanet/
testnet/
shimmer/

# private tangle
private_tangle/

# log files
hornet.log
integration-tests/logs/*.log
integration-tests/logs/*.html
integration-tests/logs/*.profile

# Documentation
documentation/

# Scripts + Tools
scripts/
tools/

# Executable
/hornet
