# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE related files
.vscode/
.idea/

# dist packages
dist/

# OSX related files
.DS_Store
/hornet

# Database directory
privatedb*/
comnetdb*/
devnetdb*/
testnetdb*/
mainnetdb*/
p2pstore*/
alphanet*/
testnet*/
shimmer*/

# snapshot dir
snapshots/

# log files
hornet.log
integration-tests/logs/*.log
integration-tests/logs/*.html
integration-tests/logs/*.profile
vis_[0-9]*.html

# coordinator files
coordinator.state
migrator.state

# Docs
book

# INX
inx/*/err.log
inx/*/output.log
tools/inx-nodejs/node_modules
inx/indexer/indexer.db
inx/indexer/inx-indexer
inx/mqtt/inx-mqtt

# Docker
docker/.env
docker/data
