# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project files
.idea

# Database directory
mainnetdb/
comnetdb/

# OSX related files
.DS_Store
/hornet

# snapshot files
*export.bin
*export_comnet.bin

# template files
*node_modules
*build
plugins/monitor/tanglemonitor

# dist packages
dist/

# Snapshot directory (for docker running in main path)
snapshot/

# log files
hornet.log

# coordinator files
layer*.csv
coordinator.state
coordinator.tree
hive.go/
