[submodule "plugins/dashboard/frontend"]
	path = plugins/dashboard/frontend
	url = https://github.com/iotaledger/node-dashboard
[submodule "plugins/faucet/frontend"]
	path = plugins/faucet/frontend
	url = https://github.com/iotaledger/chrysalis-faucet.git
