version: '3'
services:
  hornet:
    build:
      context: .
      # For aarch64/arm64 use Dockerfile.arm64
      # or Dockerfile.armhf for arm32/armhf
      dockerfile: docker/Dockerfile
    image: hornet:latest
    # Best performance via host network:
    network_mode: host
    # Else:
    #ports:
    #  - "14265:14265"
    #  - "15600:15600"
    cap_drop:
      - ALL
    # Note: for local snapshots to work please
    # read the DOCKER.md on how to mount a new
    # path where export.bin should be
    # placed in.
    volumes:
      - ./config.json:/app/config.json:ro
      - ./config_comnet.json:/app/config_comnet.json:ro
      - ./mqtt_config.json:/app/mqtt_config.json
      - ./profiles.json:/app/profiles.json
      - ./export.bin:/app/export.bin
      - ./export_comnet.bin:/app/export_comnet.bin
      - ./peering.json:/app/peering.json
      - ./latest-export.gz.bin:/app/latest-export.gz.bin
      - ./mainnetdb:/app/mainnetdb
      - ./comnetdb:/app/comnetdb
