version: '3'
services:
  hornet:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: hornet:dev
    ulimits:
      nofile:
        soft: "8192"
        hard: "8192"
    # Best performance via host network:
    network_mode: host
    # Else:
    #ports:
    #  - "14265:14265"
    #  - "15600:15600"
    cap_drop:
      - ALL
    volumes:
      - ./config.json:/app/config.json:ro
      - ./config_comnet.json:/app/config_comnet.json:ro
      - ./profiles.json:/app/profiles.json
      - ./peering.json:/app/peering.json
      - ./snapshots/mainnet:/app/snapshots/mainnet
      - ./mainnetdb:/app/mainnetdb
