[Unit]
Description=Hornet
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/hornet
LimitNOFILE=4096
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hornet
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=hornet
WorkingDirectory=/var/lib/hornet
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/hornet $OPTIONS

[Install]
WantedBy=multi-user.target
