[Unit]
Description=Hornet-legacy
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/hornet-legacy
LimitNOFILE=4096
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hornet-legacy
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=hornet-legacy
WorkingDirectory=/var/lib/hornet-legacy
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/hornet-legacy $OPTIONS

[Install]
WantedBy=multi-user.target
