name: Build HORNET
on:
  push:
    paths-ignore:
      - 'docs/**'
    branches:
      - master
      - develop
  pull_request:
    paths-ignore:
      - 'docs/**'

jobs:
  build:
    name: Build HORNET
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.16
        id: go

      - name: Print Go version
        run: go version

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build HORNET
        run: go build -v .
