name: Build HORNET

on:
  pull_request:
    paths-ignore:
      - 'documentation/**'
      - 'nfpm/**'
      - 'private_tangle/**'
      - 'scripts/**'
      - 'tools/**'

jobs:
  build:
    name: Build HORNET
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
        id: go

      - name: Print Go version
        run: go version

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build HORNET
        run: go build -v .
