name: Release

on:
  release:
    types: [published]

jobs:
  Release:
    name: Release
    runs-on: [ubuntu-latest]
    container:
      image: iotmod/goreleaser-cgo-cross-compiler:1.15.5
      volumes: [/repo]

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Docker login
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      - name: Release HORNET
        run: goreleaser --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
