name: Monitor Golang dependencies with Snyk

on:
  pull_request:
    paths-ignore:
      - 'documentation/**'

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Run Snyk to monitor dependencies
        uses: snyk/actions/golang@0.3.0
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --org=gohornet
          command: monitor
