name: Test Golang dependencies with Snyk

on:
  pull_request:
    paths-ignore:
      - 'documentation/**'

jobs:
  security:
    # Only run on push events or PRs from gohornet/hornet, skip on PRs from forks
    # Secret variables cannot be exposed to PRs from forks
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/golang@0.3.0
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --org=gohornet
