name: Test release

on:
  push:
    branches:
      - production
  pull_request:
    paths-ignore:
      - 'documentation/**'
      - 'private_tangle/**'
      - 'scripts/**'
      - 'tools/**'

jobs:
  Release:
    name: Test release
    runs-on: ubuntu-latest
    container:
      image: iotaledger/goreleaser-cgo-cross-compiler:1.20.2
      volumes: [/repo]
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Test HORNET Release
        run: goreleaser --snapshot --skip-publish --clean
