name: Test HORNET
on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  test:
    name: Test HORNET
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.15.5
        id: go

      - name: Print Go version
        run: go version

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test HORNET
        uses: nick-invision/retry@v1
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: go test `go list ./... | grep -v integration-tests`
